<form action="/output" method="get">
  <div class="form-group">
    <label for="cents">Type the number of cents you want to make change for:</label>
    <input id="cents" type="text" name="cents" class="form-control">
  </div>

  <button type="submit" name="button" class="btn btn-info">Get change</button>
</form>
